body {
  margin: 0;
  background-color: rgb(2, 31, 41);
}

main {
  background-color: rgb(2, 31, 41);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background-color: rgb(2, 7, 20);
  padding: 10px 20px;
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin: 0;
}



main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.g {
  display: grid;
  grid-template-columns: repeat(60, 20px);
  column-gap: 1.5px;
  row-gap: 1.5px;
  margin: 40px auto 0;
}

.c {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 1px;
}



.color-palet {
  flex: 0 0 300px;
  align-self: flex-start;
  margin-top: 12%;
}

.gridcolor {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 10px;
}

.gridcolor button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
}

footer {
  flex: 0 0 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

form input {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 20px;
  width: 200px;
  max-width: 80%;
}

button {
  background-color: rgb(49, 99, 224);
  color: white;
  border: 2px solid black;
  border-radius: 7px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 300;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: rgb(85, 94, 117);
}

#chat-box {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 5, 7);
  padding: 12px;
  margin-bottom: 10px;
  width: 300px;
  height: 350px;
  border-radius: 8px;
  background-color: white;
  color: black;
  margin-right: auto;
  margin-top: 20px;
  overflow-y: auto;
}

.chats {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  border: 2px solid rgb(0, 5, 7);
  border-radius: 8px;
}

/* body adjustment */
main { 
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2rem;
  padding: 20px;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .color-palet {
    margin-top: 20px;
  }

  .g {
    grid-template-columns: repeat(20, 20px);
  }
}