body {
  display: flex;
  flex-direction: row;
  min-width: 375px;
  background-color: rgb(2, 31, 41);
  color: white;
}

a {
  color: grey;
  text-decoration: none;
}

div {
  margin: 10px;
}

header {
  flex: 0 10px;
  background-color: rgb(2, 7, 20);
}

menu {
  flex: 1;
  display: flex; 
  gap: 2em;
  list-style: none;
  text-decoration: none;
} 



main {
  flex: 1 calc(100vh - 700px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


footer {
  flex: 0 30px;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

@media (max-height: 700px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}