
.quote {
  color: white;
  font-style: italic;
  text-align: center;
}

.quote-box {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: rgb(14, 132, 171) !important;
  width: 550px;
}


.author {
  font-weight: bold;
  text-align: right;
  color: white;
}

.author::before {
  content: " - ";
}