body {
  margin: 0;
  background-color: rgb(2, 31, 41);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  background-color: rgb(2, 31, 41);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



a {
  color: white;
  text-decoration: none;
}

.art-card {
  border: 2px solid black;
  padding: 12px;
  margin: 10px auto;
  width: 500px;
  max-width: 90%;
  text-align: center;
}

header {
  background-color: rgb(2, 7, 20);
  padding: 10px 20px;
  color: white;
}


nav ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 20px;
  width: 200px;
  max-width: 80%;
}


button:hover {
  background-color: rgb(90, 90, 115);
}



@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}



.playerName {
  color: rgb(118, 190, 210);
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;

}
