main.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px;
  min-width: max-content;
}


.g {
  display: grid;
  grid-template-columns: repeat(60, 17px);
  column-gap: 1.5px;
  row-gap: 1.5px;
  margin: 40px auto 0;
}

.c {
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 1px;
}



.color-palet {
  flex: 1 1 0;
  align-self: flex-start;
  margin-top: 12%;
}

.gridcolor {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 10px;
}

.gridcolor button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
}

footer {
  flex: 0 0 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

form input {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 20px;
  width: 200px;
  max-width: 80%;
}

button {
  background-color: rgb(49, 99, 224);
  color: white;
  border: 2px solid black;
  border-radius: 7px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 300;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: rgb(85, 94, 117);
}

#chat-box {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(0, 5, 7);
  padding: 12px;
  width: 300px;
  height: 775px;
  margin-top: 40px;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.chats {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  border-radius: 8px;
  height: 100%;
}


@media (orientation: portrait) {
  main {
    flex-direction: column;
  }

  .color-palet {
    margin-top: 20px;
  }

  .g {
    grid-template-columns: repeat(20, 20px);
  }
}