main.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px; 
  flex-wrap: wrap;
}

.g {
  display: grid;
  grid-template-columns: repeat(80, 13px); 
  grid-auto-rows: 12px;
  gap: 1px;
  margin: 40px auto 0;
  justify-content: center;
}

.c {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 1px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.art-selection {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.color-palet {
    flex: 0 0 250px;
    flex-shrink: 0;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.gridcolor {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 10px;
}

.gridcolor button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}



.chat-box {
  flex-direction: column-reverse;
  border: 2px solid rgb(0, 5, 7);
  padding: 12px;
  margin-bottom: 10px;
  max-width: 300px;
  height: 350px;
  border-radius: 8px;
  background-color:rgb(255, 255, 255); 
  color: rgb(0, 0, 0);
  margin-right: auto;
  margin-top: 40px;
  overflow-y: auto;
}

.chats {
  overflow-y: auto;

}

.sender {
  flex-direction: column-reverse;
}




@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

@media (max-height: 700px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}